<div class="container-fluid">
    <!-- Heroes -->
    <div class="row">
        <div class="col-12">
            <div class="row px-5 py-5 my-2 mx-2 text-left bg-white rounded">
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold"><i class="color-ff304f">KNOW </i> What you eat</h1>
                    <p class="lead mb-4 ">
                        Nutri Me!! provides nutrition data tools and articles to empower you to create a better diet. All data is sourced from the USDA Food Data Central.
                        On Nutrition Data, you'll find detailed nutrition information, plus unique analysis tools that tell you more about how foods affect your health and make it easier to choose healthy foods.</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-left">
                        <button type="button"  routerLink="/search-food" routerLinkActive="active" class="btn btn-outline-primary btn-lg px-4 lead-button">Search Food</button>
                    </div>
                </div>
                <div class="col-lg-6">
                <img src="../../../assets/images/white-plate.webp" alt="home.png"
                    class="d-none d-sm-none d-lg-block"
                    style=" width: 35rem;">
                </div>
            </div>
        </div>
    </div>
    <!-- Grid Features -->
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-sm-12 col-md-6 col-lg-4">

            <div class="bg-white p-3 rounded align-middle m-2">
                <div class="row">

                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <i class="bi bi-cup-straw feature-icon"></i>
                            <p class="text-center fw-bold">Find Nutrition Facts</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <p style="padding-top: 20px;"> Provides nutrition data tools and articles to help you organize the foods you eat</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="bg-white p-3 rounded align-middle m-2">
                <div class="row">

                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <i class="bi bi-clipboard-data feature-icon"></i>
                            <p class="text-center fw-bold">Analyze Recipe</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <p style="padding-top: 20px;"> We make every effort to ensure the quality of the data we report</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="bg-white p-3 rounded align-middle m-2">
                <div class="row">

                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <i class="bi bi-question-circle feature-icon"></i>
                            <p class="text-center fw-bold">Customer Support</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <p style="padding-top: 20px;"> You can 24x7 Customer Care Support on our Help Centre.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>