<div class="clear"></div>
<footer class="d-flex flex-wrap  footer justify-content-between align-items-center py-2 border-top bg-white">
    <div class="col-md-4 d-flex align-items-center px-4">
        <span class="text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex px-4 gap-3">
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter footer-icon"></i></a>
        </li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram footer-icon"></i></a>
        </li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook footer-icon"></i></a>
        </li>
    </ul>
</footer>