.container-fluid {
    background-color: #FBFBFB !important;
    padding-top: 80px;
}

.container-fluid:before {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    
}

table {
    width: 100%;
  }