<div class="container-fluid">
    <form #myForm="ngForm" (ngSubmit)="changePassword()">
        <div class="row">

            <h5 style="text-align: left; padding-bottom: 10px;">Change Password</h5>

            <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label>Password</mat-label>
                <input matInput placeholder="" type="password" name="password" minlength="8" #password="ngModel"
                    [(ngModel)]="user.password" required>
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.errors.required">
                        Password is mandatory.
                    </div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 8 characters long.
                    </div>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="width: 90%;">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="" type="password" name="confirmpassword"  #confirmpassword="ngModel"
                  [(ngModel)]="user.confirmpassword" pattern="{{ password.value }}" required>
                <mat-error *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
                  <div *ngIf="confirmpassword.errors.pattern">
                    Password & Confirm Password does not match.
                  </div>
                </mat-error>
              </mat-form-field>

            <div style="padding-top: 5px; text-align: left;">
                <button mat-raised-button color="primary" type="submit" [disabled]="!myForm.valid">
                    SAVE</button>
            </div>

        </div>
    </form>
</div>