<div class="container-fluid" style="height: 100vh; ">
    <div class="row" style="height: 100vh;">
        <div class="bg-image">
            <mat-card>
                <form #myForm="ngForm">
                    <div class="row">

                        <h5 style="text-align: left; padding-bottom: 10px;">Password Reset</h5>
                        <small style="text-align: left; padding-bottom: 20px; color: darkblue;">{{formMsg}}</small>

                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="" name="emailId" minlength="10" #emailId="ngModel"
                                [readonly]="disableEmailField" [(ngModel)]="user.emailId" required
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <mat-error *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
                                <div *ngIf="emailId.errors.required">
                                    Email is mandatory.
                                </div>
                                <div *ngIf="emailId.errors.pattern">
                                    Email id not valid.
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <div *ngIf='showLoading' style="position: fixed; margin-top: 75px; margin-left: 150px;">
                            <img src="assets/images/loading.gif" height="75px" width="75px">
                         </div>

                        <mat-form-field *ngIf="showOtpField" appearance="outline" style="width: 100%;">
                            <mat-label>OTP</mat-label>
                            <input matInput placeholder="" name="otp" #otp="ngModel" minlength="6" maxlength="6"
                                [(ngModel)]="user.otp" required pattern=^[0-9]{1,6}$>
                            <mat-hint></mat-hint>
                            <mat-error *ngIf="otp.invalid && (otp.dirty || otp.touched)">
                                <div *ngIf="otp.errors.required">
                                    Otp is mandatory.
                                </div>
                                <div *ngIf="otp.errors.pattern">
                                    Otp should contain number only.
                                </div>
                                <div *ngIf="otp.errors.minlength">
                                    Otp should be 6 numbers.
                                </div>
                                <div *ngIf="otp.errors.maxlength">
                                    Otp should be 6 numbers.
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="showPasswordField" appearance="outline" style="width: 100%;">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="" type="password" name="password" minlength="8"
                                #password="ngModel" [(ngModel)]="user.password" required>
                            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                                <div *ngIf="password.errors.required">
                                    Password is mandatory.
                                </div>
                                <div *ngIf="password.errors.minlength">
                                    Password must be at least 8 characters long.
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field *ngIf="showPasswordField" appearance="outline" style="width: 100%;">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="" type="password" name="confirmpassword" minlength="8"
                                #confirmpassword="ngModel" [(ngModel)]="user.confirmpassword" required>
                            <mat-error
                                *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
                                <div *ngIf="confirmpassword.errors.required">
                                    Confirm Password is mandatory.
                                </div>
                                <div *ngIf="confirmpassword.errors.minlength">
                                    Confirm Password must be at least 8 characters long.
                                </div>
                            </mat-error>
                        </mat-form-field>

                        <div style="padding-top: 10px; text-align: left; display: inline-block;">
                            <button *ngIf="showGenerateBt" mat-raised-button color="primary" type="submit"
                                [disabled]="!myForm.valid" (click)="generateOtp()">
                                Send OTP</button>
                            <button *ngIf="showValidateBt" mat-raised-button color="primary" type="submit"
                                [disabled]="!myForm.valid" (click)="validateOtp()">
                                Verify OTP</button>
                            <button *ngIf="showChangePasswordBt" mat-raised-button color="primary" type="submit"
                                [disabled]="!myForm.valid" (click)="changePassword()">
                                Change Password</button>
                            <button mat-raised-button color="accent" type="submit" (click)="routeToSignin()"
                                style="margin:10px;">
                                Cancel</button>
                        </div>

                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>