<div class="container">
    <div class="imgComponentName">
        <mat-toolbar class="bg-c-pink  mat-elevation-z4"
            style="width:100%;color: white;height:350%; background-color: #2970c6;">
            <span class="material-icons" style="font-size: 70px;position: relative;left:37%;">
                support_agent
            </span>
            <h1 style="position: relative;left:38%">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Need
                Assitance?<br /> Our Team is here to Support
            </h1>
        </mat-toolbar>
    </div>

    <div class="row" style="margin-top: 200px;">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <img src="../../../assets/images/haris.jpg" alt="Avatar" style="height: 180px; width:180px">
            <div class="divider"></div>
            <div class="name">Hariprasath</div>
            <div class="title">Technical Support</div>
            <div class="title">Hariprasathstv@gmail.com</div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <img src="../../../assets/images/Image from iOS.jpg" alt="Avatar" style="height: 180px; width:180px">
            <div class="divider"></div>
            <div class="name">Nisha</div>
            <div class="title">Technical Support</div>
            <div class="title">Nisha.cchourasia@gmail.com</div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <img src="../../../assets/images/1516892446421.jpg" alt="Avatar" style="height: 180px; width:180px">
            <div class="divider"></div>
            <div class="name">Gurunath</div>
            <div class="title">Technical Support</div>
            <div class="title">Guru.Svu31@gmail.com</div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <img src="../../../assets/images/InFrame_1580884262939.jpg" alt="Avatar" style="height: 180px; width:180px">
            <div class="divider"></div>
            <div class="name">Sri</div>
            <div class="title">Technical Support</div>
            <div class="title">kamaraj.sridhanalakshmi@gmail.com</div>
        </div>
    </div>
    
</div>